<!-- BEGIN: Subheader -->
<style>
    .donut-legend > span {
        display: inline-block;
        margin-right: 25px;
        margin-bottom: 10px;
        font-size: 13px;
    }

        .donut-legend > span:last-child {
            margin-right: 0;
        }

        .donut-legend > span > i {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 7px;
            margin-top: -3px;
            vertical-align: middle;
            border-radius: 1px;
        }
</style>
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Dashboard
			</h3>
		</div>
		<div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <div class="row">
        <!--<div class="col-lg-12">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Area Chart
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" id="chart1part">
                    <div id="please_wait_el" ><span style="font-size: 24px;">Please wait... Data is loading...</span></div>
                    <div id="m_morris_2" style="height:500px;"></div>
                    <div id="m_legend" class="donut-legend"></div>
                </div>
            </div>
        </div>-->
        <div class="col-lg-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Link Type Breakdown
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="please_wait_el"><span style="font-size: 24px;">Please wait... Data is loading...</span></div>
                    <div id="m_gchart_4" style="height:500px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Google Deindexation Analysis
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="please_wait_el2"><span style="font-size: 24px;">Please wait... Data is loading...</span></div>
                    <div id="m_gchart_5" style="height:500px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Historical Comparisons of Last 6 Months
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="please_wait_el3"><span style="font-size: 24px;">Please wait... Data is loading...</span></div>
                    <div id="m_gchart_6" style="height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-xl-4">
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-light">
                                Some Title
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__pic">
                            <img src="./assets/app/media/img//bg/bg-4.jpg" alt="">
                            <h3 class="m-widget27__title m--font-light">
                                <span>
                                    <span>
                                        And
                                    </span>
                                    Here...
                                </span>
                            </h3>
                        </div>
                        <div class="m-widget27__container">
                            <span>Something goes here...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
